<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stiff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stiff.Properties.Settings>
            <setting name="zoom" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="grid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="view" serializeAs="String">
                <value>標準モード</value>
            </setting>
        </Stiff.Properties.Settings>
    </userSettings>
</configuration>